@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Koulen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-family: 'Koulen', cursive;
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* HEADER */

header {
    background-color: #151313;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

header picture {
    flex-basis: 40%;
}

header picture img {
    max-width: 20rem;
    min-width: 15rem;
}

.menu_icon img {
    width: 3rem;
    border-radius: 2px;
}

.menu_icon, #check {
    display: none;
}

nav ul {
    display: flex;
    flex-basis: 60%;
    gap: 3rem;
}

nav ul a {
    font-size: 3em;
}

nav ul li a::after {
    display: block;
    content: '';
    width: 0%;
    background: white;
    height: 0.3rem;
    transition: width 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* MAIN */

main {
    margin: 12.5rem auto 1rem auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.box {
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__text {
    flex-basis: 65%;
}

.box__text__title {
    font-size: 3.5em;
}

.box__text__paragraph {
    font-size: 2.2em;
    margin-top: 1rem;
    text-align: justify;
}

.box__image {
    flex-basis: 30%;
}

.opening {
    margin-bottom: 6rem;
}

.opening__title {
    font-size: 4em;
}

.opening__video {
    width: 100%;
    height: 60rem;
    margin-top: 30px;
}

footer {
    width: 100%;
    background-color: rgb(24, 34, 72);
    margin-top: auto;
    padding: 3rem;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    flex-basis: 40%;
}

.contact__title {
    color: white;
    font-size: 3em;
    margin-bottom: 1.5rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form__control {
    background-color: rgb(24, 34, 72);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 0.1rem solid #1f53c5;
    font-size: 1.6em;
    color: white;
}

.contact__form #comment {
    height: 20rem;
}

.contact__form__button {
    width: 40%;
    align-self: center;
    background-color: #1f53c5;
    border-radius: 0.5rem;
    padding: 1.2rem;
    border: none;
    color: white;
    font-size: 1.8em;
}

.social_media {
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
}

.social_media picture img {
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.characters {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, fr);
    row-gap: 3rem;
}

.characters__box:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1;
}

.characters__box:nth-of-type(2) {
    grid-column: 5 / 9;
    grid-row: 1;
}

.characters__box:nth-of-type(3) {
    grid-column: 9 / 13;
    grid-row: 1;
}

.characters__box:nth-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 2;
}

.characters__box:nth-of-type(5) {
    grid-column: 5 / 9;
    grid-row: 2;
}

.characters__box:nth-of-type(6) {
    grid-column: 9 / 13;
    grid-row: 2;
}

.characters__box:nth-of-type(7) {
    grid-column: 1 / 5;
    grid-row: 3;
}

.characters__box:nth-of-type(8) {
    grid-column: 5 / 9;
    grid-row: 3;
}

.characters__box:nth-of-type(9) {
    grid-column: 9 / 13;
    grid-row: 3;
}

.characters__box:nth-of-type(10) {
    grid-column: 1 / 5;
    grid-row: 4;
}

.characters__box:nth-of-type(11) {
    grid-column: 5 / 9;
    grid-row: 4;
}

.characters__box:nth-of-type(12) {
    grid-column: 9 / 13;
    grid-row: 4;
}

.characters__box:nth-of-type(13) {
    grid-column: 1 / 5;
    grid-row: 5;
}

.characters__box:nth-of-type(14) {
    grid-column: 5 / 9;
    grid-row: 5;
}

.characters__box:nth-of-type(15) {
    grid-column: 9 / 13;
    grid-row: 5;
}

.characters__box__title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5px;
}

.titans {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.titans__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titans__box__title {
    font-size: 3.1em;
    margin-bottom: 1.5rem;
    text-align: center;
}

.titans__box__paragraph {
    font-size: 2em;
    text-align: justify;
    margin-bottom: 3rem;
}

.titans__box__image {
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    main {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1024px) {
    header picture img {
        max-width: 15rem;
        min-width: 10rem;
    }

    nav ul a {
        font-size: 2.3em;
    }

    main {
        font-size: 0.65em;
    }

    footer {
        font-size: 0.65em;
    }

    .characters__box {
        font-size: 0.7em;
    }

    .titans__box {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 900px) {
    main {
        font-size: 0.7em;
    }

    .opening__video {
        height: 28rem;
    }

    footer {
        font-size: 0.55em;
    }

    .social_media picture img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    .menu_icon {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: block;
        position: fixed;
        top: 10rem;
        left: -100%;
        background: #151313;
        width: 100%;
        right: 0;
    }

    nav ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ ul {
        left: 0;
    }
    
    main {
        max-width: 80%;
    }

    .box {
        flex-direction: column;
        margin-top: 3rem;
    }

    .box__image {
        margin-top: 3rem;
    }

    .opening {
        margin-bottom: 3rem;
    }

    .opening__video {
        height: 28rem;
    }

    .footer_container {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-self: center;
    }

    .contact {
        width: 100%;
    }

    .social_media {
        margin-top: 3rem;
        width: 100%;
    }

    .social_media picture img {
        width: 3rem;
        height: 3rem;
    }

    .characters {
        grid-template-rows: repeat(8, 1fr);
        row-gap: 3rem;
    }

    .characters__box:nth-of-type(1) {
        grid-column: 1 / 7;
        grid-row: 1;
    }
    
    .characters__box:nth-of-type(2) {
        grid-column: 7 / 13;
        grid-row: 1;
    }
    
    .characters__box:nth-of-type(3) {
        grid-column: 1 / 7;
        grid-row: 2;
    }
    
    .characters__box:nth-of-type(4) {
        grid-column: 7 / 13;
        grid-row: 2;
    }
    
    .characters__box:nth-of-type(5) {
        grid-column: 1 / 7;
        grid-row: 3;
    }
    
    .characters__box:nth-of-type(6) {
        grid-column: 7 / 13;
        grid-row: 3;
    }
    
    .characters__box:nth-of-type(7) {
        grid-column: 1 / 7;
        grid-row: 4;
    }
    
    .characters__box:nth-of-type(8) {
        grid-column: 7 / 13;
        grid-row: 4;
    }
    
    .characters__box:nth-of-type(9) {
        grid-column: 1 / 7;
        grid-row: 5;
    }
    
    .characters__box:nth-of-type(10) {
        grid-column: 7 / 13;
        grid-row: 5;
    }
    
    .characters__box:nth-of-type(11) {
        grid-column: 1 / 7;
        grid-row: 6;
    }
    
    .characters__box:nth-of-type(12) {
        grid-column: 7 / 13;
        grid-row: 6;
    }
    
    .characters__box:nth-of-type(13) {
        grid-column: 1 / 7;
        grid-row: 7;
    }
    
    .characters__box:nth-of-type(14) {
        grid-column: 7 / 13;
        grid-row: 7;
    }
    
    .characters__box:nth-of-type(15) {
        grid-column: 4 / 10;
        grid-row: 8;
    }

    .titans {
        align-self: center;
        flex-direction: column;
    }

    .titans__box__paragraph {
        margin-bottom: 0rem;
    }

    .titans__box__image {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 390px) {
    nav ul {
        top: 8rem;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 8rem;
        font-size: 0.5em;
    }

    .box {
        margin: 3rem 0;
    }

    .box__image {
        margin-top: 1rem;
    }

    .opening {
        margin: 3rem 0;
    }

    .opening__video {
        margin-top: 1rem;
        height: 12rem;
    }

    .characters {
        grid-template-rows: repeat(15, 1fr);
    }

    .characters__box:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1;
    }
    
    .characters__box:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 2;
    }
    
    .characters__box:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 3;
    }
    
    .characters__box:nth-of-type(4) {
        grid-column: 1 / 13;
        grid-row: 4;
    }
    
    .characters__box:nth-of-type(5) {
        grid-column: 1 / 13;
        grid-row: 5;
    }
    
    .characters__box:nth-of-type(6) {
        grid-column: 1 / 13;
        grid-row: 6;
    }
    
    .characters__box:nth-of-type(7) {
        grid-column: 1 / 13;
        grid-row: 7;
    }
    
    .characters__box:nth-of-type(8) {
        grid-column: 1 / 13;
        grid-row: 8;
    }
    
    .characters__box:nth-of-type(9) {
        grid-column: 1 / 13;
        grid-row: 9;
    }
    
    .characters__box:nth-of-type(10) {
        grid-column: 1 / 13;
        grid-row: 10;
    }
    
    .characters__box:nth-of-type(11) {
        grid-column: 1 / 13;
        grid-row: 11;
    }
    
    .characters__box:nth-of-type(12) {
        grid-column: 1 / 13;
        grid-row: 12;
    }
    
    .characters__box:nth-of-type(13) {
        grid-column: 1 / 13;
        grid-row: 13;
    }
    
    .characters__box:nth-of-type(14) {
        grid-column: 1 / 13;
        grid-row: 14;
    }
    
    .characters__box:nth-of-type(15) {
        grid-column: 1 / 13;
        grid-row: 15;
    }
}