footer {
    width: 100%;
    font-size: 1em;
    background-color: rgb(24, 34, 72);
    margin-top: auto;
    padding: 3rem;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    flex-basis: 40%;

    &__title {
        color: $base;
        font-size: 3em;
        margin-bottom: 1.5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &__control {
            background-color: $footer-background;
            border-radius: 0.5rem;
            margin-bottom: 2rem;
            padding: 1rem;
            border: 0.1rem solid $footer-component;
            font-size: 1.6em;
            color: $base;
        }

        #comment {
            height: 20rem;
        }

        &__button {
            width: 40%;
            align-self: center;
            background-color: $footer-component;
            border-radius: 0.5rem;
            padding: 1.2rem;
            border: none;
            color: $base;
            font-size: 1.8em;
            cursor: pointer;
        }
    }
}

.social_media {
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;

    a {
        display: inline-flex;
        font-size: 3em;
        color: $base;
        width: 8rem;
        height: 8rem;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 8rem;
            height: 8rem;
            background: $footer-component;
            border-radius: 50%;
            z-index: -1;
            transition: 0.3s ease-in;
        }

        &:hover::before {
            transform: scale(0);
        }

        i {
            transition: 0.3s ease-in;
        }

        &:hover i {
            background: $footer-component;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(2.2);
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 900px) {
    footer {
        font-size: 0.55em;
    }

    .social_media picture img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .footer_container {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-self: center;
    }

    .contact {
        width: 100%;
    }

    .social_media {
        margin-top: 3rem;
        width: 100%;

        a {
            font-size: 2em;
            width: 6rem;
            height: 6rem;

            &::before {
                width: 6rem;
                height: 6rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .social_media a {
        font-size: 1.5em;
        width: 4rem;
        height: 4rem;

        &::before {
            width: 4rem;
            height: 4rem;
        }
    }
}