main {
    @include flex(column, flex-start, stretch, 0);
    margin: 12.5rem auto 1rem auto;
    max-width: 80%;
    font-size: 1em;
    padding: 2rem;
}

.box {
    margin: 6rem 0;
    @include flex(row, space-between, center, 0);

    &__text {
        flex-basis: 65%;

        &__title {
            font-size: 3.5em;
            text-align: center;
            margin-bottom: 3rem;
        }

        &__paragraph {
            font-size: 2.2em;
            margin-top: 1rem;
            text-align: center;
        }
    }

    &__image {
        flex-basis: 30%;
    }
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    main {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1024px) {
    main {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 900px) {
    main {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 80%;
    }

    .box {
        @include flex (column, flex-start, stretch, 0);
        margin-top: 3rem;

        &__image {
            margin-top: 3rem;
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 8rem;
        font-size: 0.5em;
    }

    .box {
        margin: 3rem 0;

        &__image {
            margin-top: 1rem;
        }
    }
}