header {
    background-color: map-get($colors, header-background);
    width: 100%;
    position: fixed;
    @include flex(row, space-around, center, 0);
    padding: 2rem;

    picture {
        flex-basis: 40%;

        img {
            max-width: 20rem;
            min-width: 15rem;

            &:hover {
                animation: bounce 1s linear;
            }
        }
    }
}

.menu_icon {
    img {
        width: 3rem;
        border-radius: 2px;
    }
}

.menu_icon, #check {
    display: none;
}

nav {
    ul {
        @include flex(row, flex-start, flex-start, 3rem);
        flex-basis: 60%;

        a {
            font-size: 3em;
        }

        li a::after {
            display: block;
            content: '';
            width: 0%;
            background: map-get($colors, base);
            height: 0.3rem;
            transition: width 0.2s;
        }

        li a:hover::after {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    header picture img {
        max-width: 15rem;
        min-width: 10rem;
    }

    nav ul a {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    .menu_icon {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: block;
        position: fixed;
        top: 10rem;
        left: -100%;
        background: map-get($colors, header-background);
        width: 100%;
        right: 0;

        li {
            @include flex(row, center, flex-start, 0);
            padding: 2rem;
            margin: 0;
        }
    }
    
    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width: 390px) {
    nav ul {
        top: 8rem;
    }
}