* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-principal;
    @include flex(column, flex-start, stretch, 0);
    min-height: 100vh;
}

a {
    @extend .pointer;
    text-decoration: none;
    font-family: $font-links;
    color: map-get($colors, base);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}