* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-family: 'Koulen', cursive;
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}